.doboz{
    background-color: silver;
    margin: 1em;
    padding: 1em;
}
#meretHiba{
    color: red;
    font-size: 0.9em;
}
#szovegHiba{
    color: red;
    font-size: 0.9em;
}
 input{
     width: 100%;
 }
.alap{
    color: black;
    background-color: white;
}
button{
    margin-left: 50%;
    margin-top: 1em;
    width: min-content;
}
